<div class="container">
  <div class="title">
    Responses
  </div>
  <div class="generalForm formItem fieldItem">
    <table class="fieldsTable table table-striped">
      <thead>
      <tr>
        <th *ngFor="let field of fields">
          {{field.label}}
        </th>
      </tr>
      </thead>
      <tbody *ngIf="isReady">
      <tr *ngFor="let arr of array">
        <td *ngFor="let field of fields">
          <div *ngIf="field.type == 'Date' && this.responsesArray[arr][field.id] != undefined; else elseBlock">
            {{this.responsesArray[arr][field.id] | formattedTime | formattedNull}}
          </div>
          <ng-template #elseBlock>{{this.responsesArray[arr][field.id] | formattedNull}}</ng-template>
        </td>
      </tr>
      </tbody>
    </table>
    <p class="posInfo float-left">{{startPos + 1}}-{{endPos + 1}} of {{max + 1}}</p>
    <button (click)="showAll()" type="button" class="showAll float-right">All</button>
    <div class="flippingItem row justify-content-center">
      <input (click)="back()" type="button" value="&#xf0d9;" [disabled]="startPos == 0">
      <span>{{page}}</span>
      <input (click)="forward()" type="button" value="&#xf0da;" [disabled]="endPos == max">
    </div>
  </div>
</div>

