<div class="container">
  <div class="title  col-xs-12 col-md-6 col-lg-4">Change Password</div>
  <div class="generalForm formItem col-xs-12 col-md-6 col-lg-4">
    <form class="form">
      <span class="help-block" style="color: #ae4d4f"
           *ngIf="message">
        {{message}}
      </span>
      <div  class="form-group"
            [class.has-error]="currentPassword.touched && currentPassword.invalid">
        <p class="inputName required">Current Password</p>
        <input id="currentPassword" required type="password" class="form-control"
               name="currentPassword" [(ngModel)]="passwords.password"
               #currentPassword="ngModel">
        <span class="help-block"
              *ngIf="currentPassword.touched && currentPassword.errors?.required">
          Current Password is required
        </span>
      </div>

      <div class="form-group"
           [class.has-error]="password.touched && password.invalid">
        <p class="inputName required">New Password</p>
        <input id="password" required type="password" class="form-control"
               name="password1" [(ngModel)]="passwords.newPassword"
               #password="ngModel">
        <span class="help-block"
              *ngIf="password.touched && password.errors?.required">
          Password is required
        </span>
      </div>
      <div class="form-group"
           [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
        <p class="inputName required">Confirm New Password</p>
        <input name="confirmPassword" [appConfirmEqualValidator]="password" required
               id="confirmPassword" type="password" class="form-control"
               [(ngModel)]="confPassword" #confirmPassword="ngModel">
        <span class="help-block"
              *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
          Confirm Password is required
        </span>
        <span class="help-block"
              *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual &&
              !confirmPassword.errors?.required">
          Password and Confirm Password does not match
        </span>
      </div>
      <button (click)="change()" type="submit" class="formButton btn btn-primary"
              [disabled]="currentPassword.invalid || password.invalid || confirmPassword.invalid">
        Change
      </button>
    </form>
  </div>
</div>

