<!--<table class="table">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th scope="col">№</th>-->
    <!--<th scope="col">Email</th>-->
    <!--<th scope="col">password</th>-->
    <!--<th scope="col">Firstname</th>-->
    <!--<th scope="col">Lastname</th>-->
    <!--<th scope="col">Phone</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr  *ngFor="let message of users">-->
    <!--<th scope="row">{{message.id}}</th>-->
    <!--<td>{{message.email}}</td>-->
    <!--<td>{{message.password}}</td>-->
    <!--<td>{{message.firstName}}</td>-->
    <!--<td>{{message.lastName}}</td>-->
    <!--<td>{{message.phone}}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->


<!--<li class="list-group-item">-->
  <!--<input type="text" [(ngModel)]="editedUser.id" style="display: none"/>-->
  <!--<input type="text" [(ngModel)]="editedUser.email" placeholder="Email"/>-->
  <!--<input type="text" [(ngModel)]="editedUser.password" placeholder="Password"/>-->
  <!--<input type="text" [(ngModel)]="editedUser.firstName" placeholder="Firstname"/>-->
  <!--<input type="text" [(ngModel)]="editedUser.lastName" placeholder="Lastname"/>-->
  <!--<input type="text" [(ngModel)]="editedUser.phone" placeholder="Phone"/>-->
  <!--<button type="button" class="btn btn-success" (click)="saveUser()">Save</button>-->
<!--</li>-->

<input type="text" [(ngModel)]="message">
<h1>{{message}}</h1>
<button (click)="send()">Send</button>
